{% extends "::base.html.twig" %}

{% block title %}AppBundle:Basic:index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to the Basic:index page</h1>

        <button class="btn"><a href="/logout">LOGOUT</a></button>

    </div>
{% endblock %}
