{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Здравствуйте, Добро пожаловать на erkagram</h1>
        <div class="col-md-2">
            {{ form(registration_form) }}
        </div>
        <div class="col-md-2">
            {{ form(authorization_form) }}
        </div>
    </div>
{% endblock %}